<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel='stylesheet' type='text/css' href='tamagotchi.css'>
</head>
<body>
  <div class="jumbotron">
    <div class="fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
